body {
  font: 10px sans-serif;
}

label {
  margin-right: 10pt;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis2 path,
.axis2 line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar2 {
  fill: steelblue;
}

.x2.axis2 path {
  display: none;
}


section {
    width: 80%;
    height: 200px;
    background: aqua;
    margin: auto;
    padding: 10px;
}
div#one {
    width: 65%;
    height: 200px;
    float: left;
}
div#two {
    height: 200px;
    float: right;
    text-align: center;
}